<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
</head>

<body>
    <form action="/addcourse" method="POST">
        <label for="coursecode">Course Code</label>
        <input name="coursecode" type="text" />
        <label for="coursetitle">Course Title</label>
        <input name="coursetitle" type="text" />
        <label class="form-control-label px-3">Part</label>
        <select name="part" class="form-select form-control" aria-label="Default select example">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <!-- <option value="4">Four</option>
            <option value="5">Five</option> -->
        </select>
        <label class="form-control-label px-3">Option</label>
        <select name="options" class="form-select form-control" aria-label="Default select example">
            <option value="Engineering">Engineering</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Economics">Economics</option>
        </select>
        <label class="form-control-label px-3">Semester</label>
        <select name="semester" class="form-select form-control" aria-label="Default select example">
            <option value="Harmattan">Harmattan</option>
            <option value="Rain">Rain</option>
        </select>
        <label for="unit">Unit</label>
        <input name="unit" type="text" />
        <button type="submit" class="btn-block btn-primary">Submit</button>
    </form>
</body>

</html>