{% extends "base.html" %} {% block content %}
<div class="mt-10 sm:mt-0">
  
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <!-- <div class="px-4 sm:px-0 pt-5">
        <h4 class="text-xl font-medium leading-6 text-gray-900">The courses required to do for this semester are</h4>
        <ol class="list-group list-group-numbered">
          <li class="list-group-item"><strong>Course Code</strong></li>
          
          <!-- {% for course in courses %}
          <li class="list-group-item">
            <tr>
              <td scope="row block text-sm font-medium text-gray-700">{{course['course_code']}}</td>
            </tr>
          </li>
          {% endfor %} 
        </ol>
      </div> -->
    </div>

    <div class="mt-5 md:mt-0 md:col-span-2">
      {% if unit > 1 %}
      <h4 class="text-xl font-medium leading-6 text-gray-900">Enter Student's Current GP in Previous Attempted
        Semseter</h4>

      <form id="regForm" action="/result" method="POST">
        <div class="shadow overflow-hidden sm:rounded-md ">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="text-left form-group ">
              <label class="block text-sm font-medium text-gray-700">Student's Cummulative Grade point<span
                  class="text-danger">
                  *</span></label>
            </div>
            {% for i in range(unit) %}
            <p><input
              type="number"
              min="0.1" max="5"
              step="0.01"
              required
              class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                name={{i}} placeholder="Enter student's Cpga" /></p><br>
              {% endfor %}
              <input type="submit" value="Submit">
            <!-- One "tab" for each step in the form: -->
            <!-- {% if p1H %}
            <div class="tab text-left font-weight-bold">Part One Harmattan Semester: <br><br>
              {% for p in p1H %}
              <label class="block text-sm font-medium text-gray-700" for="">{{p['course_code']}}</label>
              <p><input
                  class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                  placeholder="Enter student's Grade..." oninput="this.className = ''" name="{{p['course_code']}}" pattern="[a-z]"></p>
              {% endfor %}
            </div>
            {% endif %}

            {% if p1R %}
            <div class="tab text-left font-weight-bold">Part One Rain Semester: <br><br>
              {% for p in p1R %}
              <label class="block text-sm font-medium text-gray-700" for="">{{p['course_code']}}</label>
              <p><input
                  class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                  placeholder="Enter student's Grade..."  name="{{p['course_code']}}"></p>
              {% endfor %}
            </div>
            {% endif %}

            {% if p2H %}
            <div class="tab text-left font-weight-bold">Part Two Harmattan Semester: <br><br>
              {% for p in p2H %}
              <label class="block text-sm font-medium text-gray-700" for="">{{p['course_code']}}</label>
              <p><input
                  class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                  placeholder="Enter student's Grade..." oninput="this.className = ''" name="{{p['course_code']}}"></p>
              {% endfor %}
            </div>
            {% endif %}

            {% if p2R %}
            <div class="tab text-left font-weight-bold">Part Two Rain Semester: <br><br>
              {% for p in p2R %}
              <label class="block text-sm font-medium text-gray-700" for="">{{p['course_code']}}</label>
              <p><input
                  class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                  placeholder="Enter student's Grade..." oninput="this.className = ''" name="{{p['course_code']}}"></p>
              {% endfor %}
            </div>
            {% endif %}

            {% if p3H%}
            <div class="tab text-left font-weight-bold">Part Three Harmattan Semester: <br><br>
              {% for p in p3H %}
              <label class="block text-sm font-medium text-gray-700" for="">{{p['course_code']}}</label>
              <p><input
                  class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                  placeholder="Enter student's Grade..." oninput="this.className = ''" name="{{p['course_code']}}"></p>
              {% endfor %}
            </div>
            {% endif %}

            {% if p3R %}
            <div class="tab text-left font-weight-bold">Part Three Rain Semester: <br><br>
              {% for p in p3R %}
              <label class="block text-sm font-medium text-gray-700" for="">{{p['course_code']}}</label>
              <p><input
                  class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                  placeholder="Enter student's Grade..." oninput="this.className = ''" name="{{p['course_code']}}"></p>
              {% endfor %}
            </div>
            {% endif %}

            {% if p4H %}
            <div class="tab text-left font-weight-bold">Part Four Harmattan Semester: <br><br>
              {% for p in p4H %}
              <label class="block text-sm font-medium text-gray-700" for="">{{p['course_code']}}</label>
              <p><input
                  class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                  placeholder="Enter student's Grade..." oninput="this.className = ''" name="{{p['course_code']}}"></p>
              {% endfor %}
            </div>
            {% endif %}
            {% if p4R %}
            <div class="tab text-left font-weight-bold">Part Four Rain Semester: <br><br>
              {% for p in p4R %}
              <label class="block text-sm font-medium text-gray-700" for="">{{p['course_code']}}</label>
              <p><input
                  class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                  placeholder="Enter student's Grade..." oninput="this.className = ''" name="{{p['course_code']}}"></p>
              {% endfor %}
            </div>
            {% endif %}
            {% if p5H %}
            <div class="tab text-left font-weight-bold">Part Five Harmattan Semester: <br><br>
              {% for p in p5H %}
              <label class="block text-sm font-medium text-gray-700" for="">{{p['course_code']}}</label>
              <p><input
                  class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                  placeholder="Enter student's Grade..." oninput="this.className = ''" name="{{p['course_code']}}"></p>
              {% endfor %}
            </div>
            {% endif %}
            {% if p5R %}
            <div class="tab text-left font-weight-bold">Part Five Rain Semester: <br><br>
              {% for p in p5R %}
              <label class="block text-sm font-medium text-gray-700" for="">{{p['course_code']}}</label>
              <p><input
                  class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                  placeholder="Enter student's Grade..." oninput="this.className = ''" name="{{p['course_code']}}"></p>
              {% endfor %}
            </div>
            {% endif %}
            <div style="overflow:auto;">
              <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
              </div>
            </div>
            <!-- Circles which indicates the steps of the form: -->
            <!-- <div style="text-align:center;margin-top:40px;">
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
            </div> -->
          </div>
        </div>
      </form>


      <!-- {% for prev_course in prev_courses %}
            <div class="row justify-content-between text-left">
              <div class="form-group flex-column d-flex">
                 <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Part one Harmattan semester
                  </button>
                  <div class="dropdown-menu">
                  <label  class="form-control-label dropdown-item" for="prev_course"
                  >{{prev_course['course_code']}}
                  <span class="text-danger"> *</span></label
                >
                <input
                  placeholder="Enter student's grade"
                  class="form-control dropdown-item"
                  name="{{prev_course['course_code']}}"
                  type="text"
                />
                 </div>
                </div>
                
                <label class="form-control-label" for="prev_course"
                  >{{prev_course['course_code']}}
                  <span class="text-danger"> *</span></label
                >
                <input
                  placeholder="Enter student's grade"
                  class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                  name="{{prev_course['course_code']}}"
                  type="text"
                />
              </div>
            </div>

            {% endfor %}
           
        </div>-->
      {% else %}
      <h3 class="text-xl font-medium leading-6 text-gray-900">Can't predict. New Student</h3>
      {% endif %}
    </div>
  </div>



</div>

{% endblock %}
