{% extends "base.html" %} {% block content %}
<div class="mt-10 sm:mt-0">
  
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0 pt-5">
        <h4 class="text-xl font-medium leading-6 text-gray-900">Semester Courses</h4>
        <ol class="list-group list-group-numbered">
          <li class="list-group-item"><strong>Course Code</strong></li>
          {% for course in courses %}
          <li class="list-group-item">
            <tr>
              <td scope="row block text-sm font-medium text-gray-700">{{course['course_code']}}</td>
            </tr>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>

    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="p-3 justify-around bg-white max-w-sm rounded-sm overflow-hidden shadow-lg m-16">
        <div class="p-3 text-center font-medium text-base text-gray-darker mb-4">
          Recommendation
        </div> 
        <p class="pl-3 font-normal text-gray-dark text-sm mb-2"> {{response_1}}  </p> 
        <p class="pl-3 font-normal text-gray-dark text-sm mb-2"> {{response_2}}  </p>
        <!-- <p class="font-normal text-gray-dark text-sm mb-2"> {{response_3}}  </p>
        <p class="font-normal text-gray-dark text-sm mb-2"> {{response_4}}  </p> -->
      </div>
  </div>



</div>

{% endblock %}
